REACT_APP_API_URL=https://api.coined.novdaunion.uz/api
REACT_APP_SOCKET_URL=https://api.coined.novdaunion.uz
REACT_APP_APP_NAME=CoinEd
REACT_APP_APP_TAGLINE=Education platform for student rewards and growth
REACT_APP_SUPPORT_EMAIL=support@novdaunion.uz
REACT_APP_PRIVACY_EMAIL=privacy@novdaunion.uz
REACT_APP_SUPPORT_PHONE=
REACT_APP_SUPPORT_PHONE_LABEL=
REACT_APP_LEGAL_UPDATED=April 2026
REACT_APP_COPYRIGHT_YEAR=2026
